
*.db
env/
*.pyo
build/
*.pyc
*.sqlite3
.qodo/
.venv/
.DS_Store
# VS Code
.vscode/
dist/
.env
# Database files (if using SQLite directly in project)
# Python
node_modules/
# Environment variables
.Python/
*.pyd
venv/
__pycache__/
