
*.db
*.sqlite3
# Python
*.pyo
# Database files (if using SQLite directly in project)
# Environment variables
.vscode/
*.pyc
.venv/
venv/
dist/
__pycache__/
.qodo/
.Python/
build/
node_modules/
*.pyd
.env
# VS Code
.DS_Store
env/
