
*.pyc
*.pyo
*.sqlite3
# Python
node_modules/
venv/
env/
.Python/
.DS_Store
# Database files (if using SQLite directly in project)
*.pyd
# VS Code
build/
# Environment variables
*.db
.vscode/
dist/
.venv/
.env
__pycache__/
.qodo/
